.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.allLinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px;
  background-color: rgb(228, 204, 151);
  padding: 20px;
  font-size: xx-large;
}

.trans {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5px;
  margin: 5px;
  border: rgb(218, 169, 113) solid 1px;
}

.operations {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.categoryAmount{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  margin: 5px;
  border: rgb(218, 169, 113) solid 1px;
}

#deposit{
  background-color: seagreen;
}
#withdraw{
  background-color: rgba(207, 69, 69, 0.849);
}

input{
  height:50px;
}
body{
  background-color: #fdfade;
}

footer{
  position: absolute;
  bottom: 0;
}

.diagram{
  /* margin: 0 auto; */
  width: 200px;
  height: 200px;
}
.diagramsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
  margin-top: 50px;
}
